/*不可用格子*/
.invalid{
	visibility: hidden;
}
/*可用格子*/
.valid{
}
/*可扩展格子*/
.available{
	opacity: 0.2;
}

table.playblock{
	cursor:inherit;
	margin:0;
	height:100%;
	width:100%;
}
.playblock td{
	cursor:inherit;
	width:auto;
	height:auto;
	min-width:0;
	min-height:0;
	font-size:12pt;
	position: relative;
	text-align: center;
	margin:0;
	color:#000000;
	font-weight:bold;
	border: 1px solid #FFFFFF;
	border-radius: 10%;
}

table.playboard{
	cursor:inherit;
	margin:auto;
	margin-top: 10px;
}

.blockcontainer{
	cursor: pointer;
	z-index:100;
	position:relative;
	margin:auto;
	height:100px;
	width:100px;
	opacity:1;
}

.playboard td{
	cursor:inherit;
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	position: relative;
	text-align: center;
	margin: 1px;
	width: 50px;
	height: 50px;
	min-width:50px;
	min-height:50px;
	background-color:#888888;
	border: 2px solid #FFFFFF;
	border-radius:10%;
	box-shadow: 2px 2px 2px #888888;
}

.tools{
	/*cursor: url('../image/check.cur'), auto;*/
	cursor: pointer;
	float:left;
	margin-top:20px;
	margin-left:20px;
	display:block;
	width:60px;
	height:60px;
	
	border:2px solid #FFFFFF;
	border-radius:20%;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
	opacity:1;
	transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;

	background-size:100% 100%;
	background-repeat:  no-repeat;
}


.selected{
	border-radius: 100%;
}
/*以下是修改过的*/
#Row{
	background-image: url("../image/Row.png");
}

#Column{
	background-image: url("../image/Column.png");
}

#Block{
	background-image: url("../image/Block.png");
}

#Color{
	background-image: url("../image/Color.png");
}

#Cross{
	background-image: url("../image/Cross.png");
}

#Bomb{
	background-image: url("../image/Bomb.png");
}

#Female{
	background-image: url("../image/Female.png");
}

#Male{
	background-image: url("../image/Male.png");
}
