* {outline: none !important;}

::selection {
    background-color: #475B6F;
    color: #fff;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    overflow-y: scroll;
}

img {max-width: 100%;}

a{
    text-decoration: none;
    outline: none;
    color: white;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}

a:hover {
    color: #4290ae;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px 0;
    color: #3A4F52;
    font-family: 'Alegreya Sans';
}

.content-block{
    background:transparent no-repeat center center fixed;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    overflow:hidden;
}

.btn-o {
    border: 1px solid #3A4F52;
    color: #3A4F52;
}

.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #6a6a6a;
}

#logo-name a:hover{
    color: orange;
}


/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header{
    position: relative;
    text-align: center;
    padding: 0 !important;
}

#header .top h1{
    margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
    font-family: 'Alegreya SC';
    color: white;
}

#header > .bottom {
    position: absolute;
    bottom: 75px;
    text-align: center;
    width: 100%;
}
#header > .bottom a img {
    width: 50px;
}
#header > .bottom a {
    opacity: 0.7;
}
#header > .bottom a:hover {
    opacity: 1;
}


#drawer-right h1, #drawer-right h2{color: white;}

#drawer-right .nav-pills>li>a {
    font-size: 18px;
    border-radius: 0;
}

#drawer-right .lang-option{
    color: white;
    display: none;
}

#drawer-right .lang-option ul {
    list-style: none;
    padding-left: 20px;
}
#drawer-right .lang-option ul > li {
    display: inline-block;
}
#drawer-right .lang-option ul > li > a:hover{
    color: white;
}

.footer{
    color: white;
    margin-top: 10px;
    text-align: center;
}

.footer span{
    color: ghostwhite;
    font-size: 1.3em;
}

/*////////////////////////////////////////////////////////////////////////
//  Footer
///////////////////////////////////////////////////////////////////////*/

#footer{ background: #2B3E51; color: white;}


/*////////////////////////////////////////////////////////////////////////
//  Responsive styles
///////////////////////////////////////////////////////////////////////*/

@media (max-width: 660px) {
    #drawer-right {
        background-color: rgb(39,61,82);
    }
}

@media (max-width: 480px) {
    #drawer-right {
        padding: 10px 20px;
    }

    #drawer-right .nav-pills>li>a {
        font-size: 17px;
    }

    .nav-stacked>li+li {
        margin-top: 0;
    }

    .nav>li>a {
        padding: 8px 15px;
    }

    #header {
        background-size: cover;
    }
}