body {
    color: #6a6a6a;
    background: #f1f0f0;
}

#header .top {
    position:fixed;
    top:0;
    width: 100%;
    padding: 30px;
    height: auto;
    z-index: 500;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background-color: rgba(39,61,82,0.4);
    width: 300px;
    padding: 20px;
    z-index: 999;
}

.light{
    display: block;
}

.dark{
    display: none;
}

#header .slogan{
	font-size: 4em;
    margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header {
	background-image: url(../img/index-bg.jpg);
}

.logo-cube {
    margin: 0 auto;
    -webkit-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
    filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
}


.block-body {
    margin-top: 60px;
}

.btn{
    border-radius: 0;
}

.btn-o:hover {
    background: #3A4F52;
    color: white;
}