body{
	background-color: #E0E0E0;
}
#ImgTop{
	width: 100%;
	height: 20%;
	overflow: hidden;
	border-radius: 10px;
	
}

#ImgTop img{
	width: 100%;
	height: 100%;
	
}

#Activity-Title{
	margin-top: 15px;
	width: 100%;
	height: 40px;
	text-align: center;

	font-size: 1.4em;
}

.General-Title{
	margin-left: 0px;
	font-size: 1.3em;
	margin-bottom: 3px;
	margin-top: 7px;

}

.General-Box{
	margin:auto;
	height: 50px;
	border-radius: 5px;
	background-color: #999999;
	font-size: 1.2em;
	margin-bottom: 4px;
}

.General-Box p{
	padding-top: 10px;
	margin: 0px;
	
}




#Activity-Inc{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	margin-top: 20px;
	
}

#Activity-Inc p{
	margin: 5px;
	font-size: 1.1em;
	text-align: center;

}
