body{
	background-color: #E0E0E0;
}
#ImgTop{
	width: 100%;
	height: 20%;
	overflow: hidden;
	border-radius: 10px;
	
}

#ImgTop img{
	width: 100%;
}

#Activity-Title{
	margin-top: 5px;
	width: 100%;
	height: 25px;
	text-align: center;
	font-size: 1.4em;
}



#Time-Left{
	width: 300px;
	height: 30px;
	text-align: center;
	margin: auto;
}

.Number-Left{
	width: 40px;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(68,68,68);
	position: relative;
	float: left;
	text-align: center;
	font-size: 1.5em;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.Text-Title{
	width: 20px;
	height: 20px;
	
	text-align: center;
	position: relative;
	float: left;
	font-size: 1.4em;
}


#Ticket-Box{
	margin: auto;
	width: 200px;
	
	height: 40px;
	
}

#Ticket-Number{
	position: relative;
	float: left;
	left: 50px;
	width: 70px;
	height: 35px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.8em;
	color: red;
	
	 -moz-box-shadow:0px 0px 10px #333333;
    -webkit-box-shadow:0px 0px 10px #333333;
    box-shadow:0px 0px 10px #333333;

}

#Ticket-Unit{
	width: 40px;
	height: 40px;
	position: relative;
	float: left;
	left: 55px;
	
	font-size: 1.5em;
}









.General-Title{
	margin-left: 0px;
	font-size: 0.9em;
	margin-bottom: 3px;
	margin-top: 7px;

}

.General-Box{
	margin:auto;
	height: 25px;
	border-radius: 5px;
	background-color: rgb(200,200,200);
	font-size: 0.9em;
	margin-bottom: 4px;
}

.General-Box p{
	padding-top: 3px;
	margin-left: 10px;
	
}





#Activity-Inc{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	margin-top: 20px;
	
}

#Activity-Inc p{
	margin: 5px;
	font-size: 1.1em;
	text-align: center;

}
