body{
	background-color: #E0E0E0;
}
#ImgTop{
	width: 100%;
	height: 20%;
	overflow: hidden;
	border-radius: 10px;
	
}

#ImgTop img{
	width: 100%;
	height: 100%;
	
}

#Activity-Title{
	margin-top: 15px;
	width: 100%;
	height: 40px;
	text-align: center;

	font-size: 1.4em;
}




#Time-Left{
	width: 250px;
	height: 30px;
	text-align: center;
	margin: auto;
}

.Number-Left{
	width: 40px;
	height: 30px;
	border-radius: 5px;
	background-color: red;
	position: relative;
	float: left;
	font-size: 1.5em;
}

.Text-Title{
	width: 20px;
	height: 20px;
	margin-top: 3px;
	text-align: center;
	position: relative;
	float: left;
	font-size: 1em;
}


#Ticket-Box{
	margin: auto;
	width: 200px;
	
	height: 50px;
	
}

#Ticket-Number{
	position: relative;
	float: left;
	left: 50px;
	width: 100px;
	height: 100%;
	border-radius: 5px;
	text-align: center;
	font-size: 45px;
	color: red;
	background-color: rgba(111,111,111,0.5);
	


}

#Ticket-Unit{
	width: 50px;
	position: relative;
	float: left;
	left: 55px;
	top: 5px;
	font-size: 30px;
}









.General-Title{
	margin-left: 0px;
	font-size: 1.3em;
	margin-bottom: 3px;
	margin-top: 7px;

}

.General-Box{
	margin:auto;
	height: 50px;
	border-radius: 5px;
	background-color: #999999;
	font-size: 1.2em;
	margin-bottom: 4px;
}

.General-Box p{
	padding-top: 10px;
	margin: 0px;
	
}





#Activity-Inc{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	margin-top: 20px;
	
}

#Activity-Inc p{
	margin: 5px;
	font-size: 1.1em;
	text-align: center;

}
