.body{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#PlaceName{
	margin: auto;
	text-align: center;
}

.Region{
	width: auto;
	height: auto;
	margin: auto;
}

.SeatLine{
	width: auto;
	height: auto;

}
.Seat-Active{
	background-color: green;
}
.Seat-Disactive{
	background-color: rgba(42,42,42,0.8);
}

.SeatUnit{
	width: 20px;
	height: 20px;
	background-color: red;
	margin: 5px;
	position: relative;
	float: left;
	cursor: pointer;
}


.ClearFix{
	clear: both;
}