

#ImgTop{
	width: 100%;
	height: 20%;
	overflow: hidden;
	border-radius: 10px;
	
}

#ImgTop img{
	width: 100%;
	height: 100%;
	
}


#Confirm-Title{
	margin-top: 15px;
	width: 100%;
	height: 40px;
	text-align: center;
	border-bottom: 1px solid #424242;
}

#Confirm-Title p{
	margin: 0px;
	font-size: 1.4em;
}

#Confirm-List{
	width: 300px;
	height: 300px;
	margin: auto;
}

#Confirm-List p{
	font-size: 1.4em;
}

#Confirm-Button{
	width: 100px;
	
}