
body{
	background-color: rgba(240,244,245,0.9);
	font-family:"微软雅黑","黑体","宋体";
    line-height: 1.428571429;
    position: relative;   /*重要！保证footer是相对于wapper位置绝对*/  
    margin: 0px;
}


#ImgTop{
	width: 100%;
	
	overflow: hidden;
	
	
}

#ImgTop img{
	width: 100%;
	
	
}

.Verify-Img{
	width: 128px;
	height: 128px;
	margin: auto;
	display: none;
	margin-top: 20px;
	margin-bottom:10px;
}


#ConfirmBox{
	width: 90%;
	height: auto;
	position: relative;
	padding-top: 2%;
	padding-bottom: 4%;
	border: 1px solid #323232;
	margin:auto;


	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: rgb(207, 214, 222) 0px 2px 2px 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(207, 214, 222);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(207, 214, 222);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(207, 214, 222);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(207, 214, 222);
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgb(207, 214, 222) 0px 2px 2px 0px;
	color: rgb(51, 51, 51);
	
	display: block;

	font-size: 12px;

	font-weight: normal;
	position: relative;
}

#Confirm-Title{
	
	margin-bottom: 1.5%;
	padding-bottom: 0.5%;
	width: 100%;
	height: 25px;
	text-align: center;
	
}

#Confirm-Title p{
	margin: 0px;
	font-size: 1em;
	font-weight: bold;
}

#Confirm-List{
	width: 80%;
	height: auto;
	margin: auto;
}

#Confirm-List span{
	font-size: 0.8em;
	height: auto;
	width: 100%;
	position: relative;
	float: left;
	color: rgba(222,22,22,0.9);
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 3%;
}



#Confirm-List lable{
	position: relative;
	text-align: right;
	float: right;
	width: 15%;
	margin-right: 5%;
	height: 20%;
	padding: 1px;
	font-size: 1.2em;
	margin-top: 1.5%;

}

.input-selfinformation{
	line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	width: 75%;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-color:#b94a48;
    position: relative;
    height: 25px;
    display: block;
    float: right;
    margin-right: 1%;
}

.input-selfinformation:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

#Button-Line{
	width: 100%;
	height: auto;
	margin:auto;
	position: relative;
	float: left;
}

#Button-Line span{
	color: black;
}

#Confirm-Button{
	
	width: 80%;
	height: 30px;
	margin-left: 10%;
	margin-top: 13%;
	margin-bottom: 9%;
	position: relative;

	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px 0px, rgba(255, 255, 255, 0.14902) 0px 0px 0px 1px inset;
	-webkit-transition-delay: 0s, 0s, 0s, 0s;
	-webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	-webkit-transition-property: box-shadow, background-color, border-color, color;
	-webkit-transition-timing-function: ease, ease, ease, ease;

	background-color: rgba(0, 192, 76,0.8);
	
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px 0px, rgba(255, 255, 255, 0.14902) 0px 0px 0px 1px inset;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	
	
	font-weight: normal;
	font-size: 1.2em;
	
	
	
	text-align: center;
	text-transform: none;
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	transition-property: box-shadow, background-color, border-color, color;
	transition-timing-function: ease, ease, ease, ease;
	vertical-align: middle;
	
	word-break: normal;
}

#Forcebind{
	position: relative;
	float: left;
	margin-left: 23%;	
}
#Button-Line span{
	position: relative;
	float: left;
	width: 35%;
	font-size: 0.8em;
	margin-top: 0px;
}


#Confirm-Inc{
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0px;
	
	border-top: 1px solid #424242;
}

#Confirm-Inc p{
	margin: 5px;
	font-size: 1.1em;
	text-align: center;

}

pre {
	width: 90%;
    display: block;
    padding: 4.5px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    position: relative;
}

#footer {
	clear: both;
    display: block;
    position: relative;
    top:-45px;
    height: 40px; /* a little smaller than 50 to avoid scroll*/    
    text-align: center;
    
}

#footer p{
	font-size: 0.8em;
	text-align: center;
	margin:0px;  
}

#main-content{  
   
   width: 100%;
   position: relative;
   float: left;
   
}  

.Verify-Img{
	width: 64px;
	height: 64px;
	margin: auto;
	display: none;
	margin-top: 20px;
	margin-bottom:10px;
}

#Cancel-Button{

	width: 100px;
	margin: auto;
	display: none;
}

.ClearFix{
	clear: both;
}
